.second-hand-label {
     position: relative;
 }
.second-hand-label:after{
    content: '2ND-HAND';
    position: absolute;
    top: 14px;
    left: -25px;
    height: 1px;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    display: block;
    border-bottom: 15px #ccc solid;
    border-right: 15px transparent solid;
    border-left: 15px transparent solid;
    transform: rotate(-45deg);
}
.header-container {
    height: 60px;
    overflow: hidden;
} 
.item-image-container {
    background-color: #fff; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: contain; 
    padding-bottom:100%; 
    width:100%;
}
.header-hr {
    border-bottom: 1px dashed #cacaca;
}
.data-text {
    text-align: center;
}
.button-row a {
    width: 45%;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5px;
}
.row.button-row{
    padding: 0 10px;
    text-align: center;
    margin-bottom: 70px;
}
textarea {
    min-height: 200px;
}
form > .row:nth-of-type(2n+1) {
    background: #eee;
}

form .row{
    padding: 10px 0;
}
a.active {
  text-decoration: underline;  
}